<% if signed_in? %>
    <div>Hola <%= current_user.email %></div>
<% end %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
			
			<h2>Productos</h2>
			<div class="text-right my-2">
				<%= link_to "Publicar Producto", new_product_path, class: "btn btn-primary" %>
			</div>
				
			<table class="table">
			    <tr>
			        <th>Id</th>
			        <th>Nombre</th>
			        <th>URL</th>
			      	<th>Descripción</th>
			      	<th></th>
			    </tr>
			    <% @products.each do |product| %>
			    <tr>
			        <td><%= product.id %></td>
			        <td><%= link_to product.name, product %></td>
			        <td><%= product.url %></td>
			        <td><%= product.description %></td>
			        <td>
			        	<%= link_to "Editar", edit_product_path(product) %>
			        	<%= link_to "Eliminar", product, method: :delete, data: { confirm: "Estás seguro de eliminar este producto?" } %>
			        </td>
			    </tr>
			    <% end %>
			</table>


        </div>
    </div>
</div>

